@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Sobre Nosotros</h2>
        </div>
    </div>
    <br />
    <br />

    <table id="tblNosotros" class="table table-striped-columns table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha de Actualización</th>
                <th>Acción</th>
            </tr>
        </thead>

    </table>

</div>

@section Scripts {
    <script src="~/js/nosotros.js"></script>
}